@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["Reviews by Tag"];
    Layout = "_Layout";
    var tagId = (int) ViewData["tagId"]!;
}

<h2 class="ReviewsTitle">@_localizer["Reviews by Tag"]</h2>
<hr/>
<div id="TagReviews"></div>

<script>
window.onload = () => {
    let id = '@tagId'
    let url = `/Review/GetReviewsByTag?id=${id}`
    GetReview(url, 'TagReviews')
}
</script>