Условие курсового проекта
ТРЕБУЕТСЯ РАЗРАБОТАТЬ САЙТ ДЛЯ УПРАВЛЕНИЯ РЕКОМЕНLАЦИЯМИ "ЧЁ ПОСМОТРЕТЬ/ЧЁ ПОЧИТАТЬ/ВО ЧТО ПОИГРАТЬ И Т.Д."

На платформе своей специализации (ASP.NET Core MVC), обязательно ORM и реляционная база данных (MySQL, SQL Server), обязательно Bootstrap.

Неаутентифицированным пользователи доступен только режим read-only (
	доступен поиск, 
	недоступно создание обзоров, 
	нельзя читать и оставлять комментарии, 
	ставить лайки и рейтинги).

Аутентифицированные пользователи имеют доступ ко всему, кроме админки. 

В базовом варианте админка представляет собой список пользователей (как ссылок на их страницы).
Администратор видит каждую страницу пользователя и каждый "обзор" как ее создатель (например, может отредактировать или создать от имени пользователя с его страницы новый "обзор"). 

Требуется поддерживать вход через социальные сети (не менее двух любых).

На каждой странице доступен полнотекстовый поиск по сайту (
	результаты поиска - всегда обозоры, 
	например, если текст найден в комментарии, что должно быть возможно, то выводится ссылка на обзор).

У каждого пользователя есть его личная страница, на которой он видит список своих обзоров (
	таблица с фильтраций и сортировками, 
	возможность создать/удалить/редактировать обзор/открыть в режиме просмотра).

Каждый обзор состоит из: 
	названия, 

	"группа" (из фиксированного набора, например, "Кино", "Книги", "Игры" и т.п.), 

	тэгов (вводится несколько тэгов, необходимо автодополнение - когда пользователь начинает вводить тэг, выпадает список с 
		вариантами слов, которые уже вводились ранее на сайте), 

	текста обзора (с поддержкой форматирования markdown), до трёх изображений-иллюстраций (хранение в облаке) и оценки от автора по 5-б. шкале.


Все картинки сохраняются в облаке, загружаются драг-н-дропом.

На главной странице отображаются: последние добавленные обзоры, обзоры с самыми большими оценками, облако тэгов.

При открытие обзора в режиме чтения (или другими пользователями) под обзором отображаются *комментарии (требование со звездочкой).

Каждый пользовать может проставить "рейтинг" (от 1 до 5 звездочек) произведению (не более одного от одного пользователя на обзор) — средний пользовательский рейтинг отображается рядом с названием обзора везде на сайте. Т.е. есть "авторский рейтинг" и "юзерский рейтинг".

Также пользователь может поставить лайк самому обзору (не более одного на обзор от одного пользователя), эти лайки складываются по всем обзорам и отображаются рядом с именем пользователя.

Если два пользователя описывают одно кино, это никак не связано между собой (см. требования со звездочкой).

Сайт должен поддерживать два языка: русский и английский (пользователь выбирает и выбор сохраняется). Язык относится только к UI, контент не переводится. 

Сайт должен поддерживать два оформления (темы): светлое и темное (пользователь выбирает и выбор сохраняется).

Обязательно: 
	Bootstrap
	поддержка разных разрешений (в том числе телефон), 
	ORM для доступа к данным (Entity Framework Core), 
	движок для полнотекстового поиск (или средствами базы, или отдельный движок — НЕ ПОЛНОЕ СКАНИРОВАНИЕ селектами).

Требования со звездочкой (лишь опционально, на 10/10, после реализации остальных требований):

	* Под обзором в режиме просмотра в конце отображаются комментарии. 
		Комментарии линейные, нельзя комментировать комментарий, новый добавляется только "в хвост". 
		Автоматическая подгрузка комментариев — если у меня открыта страница с комментариями и кто-то другой добавляет новый, он у меня автомагически появляется (возможна задержка в 2-5 секунд).

	* Продвинутая админка, которая позволяет позволяет управлять пользователями (просматривать, блокировать, удалять, назначать других админами).

	* Возможность загрузки произвольного числа иллюстраций.

	* Возможность "связывать" разные обзоры на одно произведение от разных пользователей (показывать с одного ссылки на остальные) и считать средний рейтинг по обзорам.

ВАЖНО: 
	Не копируйте из кодо-помоек всякую фигню. Лучше сделайте меньше, но сами разберитесь, чтобы уметь ответить как на лету что-то поменять/добавить. 
	Кураторы принимают огромное количество однотипных проектов и видели, вероятно, большинство выложенной фигни на тему.
	Как всегда, можно сделать не все, но лучше разберитесь сами в небольшой части, чем скатайте всё у "приятеля из интернетов".

