@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>



<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="256468709305-4t7m02eai108qf7mjj5mj6k77h3j89ql.apps.googleusercontent.com">


<div class="g-signin2" data-onsuccess="Google_signIn"></div>

<script>
    //Handling the Sign-In
    function Google_signIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId());
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail());

        sessionStorage.setItem("loggedUser", profile.getEmail().toString());
        document.location.href = 'googleresponse';
    }
</script>

<script>
    //Handling the Sign-Up
    /*function Google_signIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId());
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail());

        $.post("backend/createAccount.php", {
            image: profile.getImageUrl().toString(),
            name: profile.getName().toString(),
            email: profile.getEmail().toString(),
            password: profile.getId().toString()
        }, function (data, status) {
            if (data === 'error') {
                alert('Error');
            } else if (data === 'success') {
                sessionStorage.setItem("loggedUser", profile.getEmail().toString());
                document.location.href = 'home.html';
            }
        });
    }*/
</script>