@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["login"];
    Layout = "_Layout";
}


@{
    var redirectUrl = Url.Action("LoginResponse", "Account", null, "https");
}

<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin"
     data-ulogin="
            display=panel;
            theme=classic;
            fields=identity,first_name,last_name,network,email;
            providers=google,facebook,yandex,mailru,liveid,vkontakte;
            redirect_uri=@redirectUrl;
            mobilebuttons=0;">
</div>

<b></b>