@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["Search Result Reviews"];
    Layout = "_Layout";
    var reviewsId = (string) ViewData["reviewsId"]!;
}

<h2 class="ReviewsTitle">@_localizer["Search Result Reviews"]</h2>
<hr/>
<div id="searchResultReviews"></div>
<input type="hidden" id="reviewsId" value="@reviewsId"/>

<script>
window.onload = () => {
    let reviewsId = document.getElementById('reviewsId').value
    let url = `/Review/GetReviewsById?json=${reviewsId}`
    GetReview(url, 'searchResultReviews')
}
</script>