@{
    ViewBag.Title = "Search Result Reviews";
    Layout = "_Layout";
    var reviewsId = (string) ViewData["reviewsId"]!;
}

<h2 class="ReviewsTitle">Search Result Reviews:</h2>
<hr/>
<div id="searchResultReviews"></div>
<input type="hidden" id="reviewsId" value="@reviewsId"/>

<script>
window.onload = () => {
    let reviewsId = document.getElementById('reviewsId').value
    let url = `/Review/GetReviewsById?json=${reviewsId}`
    GetReview(url, 'searchResultReviews')
}
</script>