html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.like {
    width: 20px;
}

.ReviewsImage {
    height: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-text-Review {
    border-bottom: 1px;
    border-bottom-color: lightgray;
    border-bottom-style: dashed;
    padding-bottom: 10px;
}

.Reviews-url {
    color: inherit;
    text-decoration: none;
}

.Reviews-url:hover {
    color: inherit;
}

.fullStar {
    color: #e52;
    text-shadow: 0 0 1px #333;
}

.emptyStar {
    color: #888;
    text-shadow: 0 0 1px #333;
}

.reviewsUserRating {
    display: inline-block;
    float: right;
}

#tag-cloud {
    display: block;
}

#tag-cloud li {
    display: inline-block;
    padding-right: 20px;
}

#tag-cloud li:nth-last-child(1) {
    padding-right: 0px;
}

#tag-cloud li a {
    color: grey;
}

#tag-cloud li a:hover {
    color: black;
}

.ReviewsTitle {
    color: cornflowerblue;
}

.hoverBold:hover {
    font-weight: bold;
}

.star-cb-group {
    font-size: 0;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.star-cb-group * {
    font-size: 1rem;
}

.star-cb-group > input {
    display: none;
}

.star-cb-group > input + label {
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
}

.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}

.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #8bc34a;
    text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}

.star-cb-group > .star-cb-clear + label:before {
    width: .5em;
}

.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #8bc34a;
    text-shadow: 0 0 1px #333;
}

.loading {
    background-color: white;
    background-image: url('/loading_icon.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 999;
    display: none;
}