@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    second commit
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br/>

<a asp-controller="Account" asp-action="Login">Login</a>

<br/>

<a asp-controller="Account" asp-action="Logout">Logout</a>

<br/>


@{
    var name = User.Identity?.Name;

    var uid = User.FindFirst("Uid")?.Value;
    var email = User.FindFirst("Email")?.Value;
    var network = User.FindFirst("Network")?.Value;

}

<div>
    Uid: @uid
</div>
<div>
    Email: @email
</div>
<div>
    Network: @network
</div>


<div>
    <div>
        Review:
    </div>
    <a asp-controller="Review" asp-action="Create">Create</a>
</div>