@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Home Page"];
}

<h2 class="ReviewsTitle">@_localizer["New Reviews:"]</h2>
<hr/>
<div id="newReviews"></div>

<h2 class="ReviewsTitle">@_localizer["Top Reviews:"]</h2>
<hr/>
<div id="topReviews"></div>

<hr/>
<div id="wrapper-tag-cloud">
    <ul id="tag-cloud"></ul>
</div>

<script>
window.onload = () => {
    GetReview('/Review/GetNewReviews', 'newReviews')
    GetReview('/Review/GetTopReviews', 'topReviews')
    MainPageLoadTopTags("tag-cloud")
}
</script>