@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    second commit
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br/>

<a asp-controller="Account" asp-action="GoogleLogin">GoogleLogin</a>

<br/>

<a asp-controller="Account" asp-action="FacebookLogin">FacebookLogin</a>

<br/>

<a asp-controller="Home" asp-action="Test">Test</a>

<br/>